.all {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ns {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.s {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/* 
flex-end center flex-start space-between space-around space-evenly 

 flex-end baseline center stretch flex-start 

stretch flex-end flex-start center space-around space-between  
*/
