.all {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.t(@s: 1px;
    @t: solid;
    @c: orange;
    @m: 1px;
    @p: 1px;

) {
  border: @s @t @c;
  margin: @m;
  padding: @p;
}

.ns {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.s {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.text(@c: white;
    @ta: center;
    @lh: normal;
    @ls: normal;
    @fs: medium;
    @ff: "Raleway", "sans-serif";
    @fw: normal;
    @fst: normal;
    @fk: auto;
    @fsch: normal;
    @fv: normal;
    @wsg: normal;
    @wb: normal;
    @wm: horizontal-tb;
    @ww: normal;
    @ws: normal;
    @to: clip;

) {
  white-space: @ws;
  word-wrap: @ww;
  writing-mode: @wm;
  word-break: @wb;
  word-spacing: @wsg;
  color: @c;
  text-align: @ta;
  line-height: @lh;
  letter-spacing: @ls;
  font-size: @fs;
  font-family: @ff;
  font-weight: @fw;
  font-style: @fst;
  font-kerning: @fk;
  font-stretch: @fsch;
  font-variant: @fv;
  text-overflow: @to;
}

.size(@w: 100%;
    @h: 100%;
    @min-w: 0;
    @min-h: 0;
    @max-w: none;
    @max-h: none;

) {
  width: @w;
  height: @h;
  min-width: @min-w;
  min-height: @min-h;
  max-width: @max-w;
  max-height: @max-h;
}

.pr(@p: relative;
    @t: auto;
    @r: auto;
    @b: auto;
    @l: auto;

) {
  position: @p;
  top: @t;
  right: @r;
  bottom: @b;
  left: @l;
}

.pa(@p: absolute;
    @t: 0;
    @r: 0;
    @b: 0;
    @l: 0;

) {
  position: @p;
  top: @t;
  right: @r;
  bottom: @b;
  left: @l;
}

.center(@p: absolute;
    @l: 50%;
    @t: 50%;
    @x: -50%;
    @y: -50%;

) {
  position: @p;
  left: @l;
  top: @t;
  transform: translate(@x, @y);
}

.ts(@p: all;
    @t: 0.3s;
    @e: ease;
    @d: 0s;

) {
  transition: @p @t @e @d;
}

/* 
flex-end center flex-start space-between space-around space-evenly 

 flex-end baseline center stretch flex-start 

stretch flex-end flex-start center space-around space-between  
*/

.flex-parent(@d: flex;
    @fd: row;
    @fw: nowrap;
    @jc: center;
    @ai: center;
    @ac: center;

) {
  display: @d;
  flex-wrap: @fw;
  flex-direction: @fd;
  justify-content: @jc;
  align-items: @ai;
  align-content: @ac;
}

.flex-child(@fg: 0;
    @fs: 1;
    @as: auto;
    @fb: auto;
    @o: 0;

) {
  flex-grow: @fg;
  flex-shrink: @fs;
  align-self: @as;
  flex-basis: @fb;
  order: @o;
}

.grid-parent(@g: grid;
    @gtc: repeat(1, 1fr);
    @gtr: repeat(1, 1fr);
    @gta: none;
    @gcg: 1px;
    @grg: 1px;
    @gg: auto;
    @gac: auto;
    @gar: auto;
    @gaf: column;
    @ji: stretch;
    @ai: stretch;
    @jc: stretch;
    @ac: stretch;

) {
  display: @g;
  grid-template-columns: @gtc;
  grid-template-rows: @gtr;
  grid-template-areas: @gta;
  grid-column-gap: @gcg;
  grid-row-gap: @grg;
  grid-gap: @gg;
  grid-auto-columns: @gac;
  grid-auto-rows: @gar;
  grid-auto-flow: @gaf;
  justify-items: @ji;
  align-items: @ai;
  justify-content: @jc;
  align-content: @ac;
}

.grid-child(@js: stretch; @as: stretch; @ga: auto; ) {
  justify-self: @js;
  align-self: @as;
  grid-area: @ga;
}

.qm-br(@br: 50%; ) {
  border-radius: @br;
}

.animation(@an: none;
    @adur: 0s;
    @atf: ease;
    @adel: 0s;
    @aic: 1;
    @adir: normal;
    @afm: none;
    @aps: running;

) {
  animation-name: @an;
  -webkit-animation-name: @an;
  animation-duration: @adur;
  -webkit-animation-duration: @adur;
  animation-timing-function: @atf;
  -webkit-animation-timing-function: @atf;
  animation-delay: @adel;
  -webkit-animation-delay: @adel;
  animation-iteration-count: @aic;
  -webkit-animation-iteration-count: @aic;
  animation-direction: @adir;
  -webkit-animation-direction: @adir;
  animation-fill-mode: @afm;
  -webkit-animation-fill-mode: @afm;
  animation-play-state: @aps;
  -webkit-animation-play-state: @aps;
}

.background(@bc: rgba(0, 0, 0, 0);
    @bi: none;
    @ba: scroll;
    @bo: padding-box;
    @bp: 0 0;
    @br: repeat;
    @bs: auto;
    @bcp: border-box;
    @bbm: normal;

) {
  background-color: @bc;
  background-image: @bi;
  background-attachment: @ba;
  background-origin: @bo;
  background-position: @bp;
  background-repeat: @br;
  background-size: @bs;
  background-clip: @bcp;
  background-blend-mode: @bbm;
}
